/* App.css or a global CSS file */
@font-face {
  font-family: 'Alterwave';
  src: url('./fonts/alterwave.woff2') format('woff2'),
       url('./fonts/alterwave.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Apply the font to the body or any specific element */
body {
  margin: 0;
  font-family: 'Alterwave', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
