/* Timer.css */
.timer-container {
  text-align: center;
}

.timer-display {
  font-size: 2em;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 500px;
  height: 40px;
  background-color: black;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid white; /* Add a white border to the container */
  box-sizing: border-box; /* Include the border in the element's total width and height */
}

.progress-bar {
  height: 100%;
  background-color: white;
  transition: width 1s linear;
}

.controls {
  margin-top: 60px; /* Add space between the loading bar and the buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: black;
  color: grey;
  border: none; /* Remove default border */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.controls button:hover {
  background-color: white;
  color: black;
}

.time-inputs {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.time-inputs input {
  margin: 0 5px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  width: 60px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.timer-display-background {
  font-size: 2em;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: black; /* Ensure the text color is white for visibility */
}
